{% load static %}
<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="{% static 'hhands/style-about.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<main>
<div class="container">
    <h1>Quem somos</h1>
    <p>A Connect é uma organização apartidária que trabalha com o propósito de divulgar e acelerar o processo de ajuda voluntária. Criada em 2019, atua em todo o Brasil</p>

    <h1>Nosso Propósito</h1>
    <p>Queremos mobilizar e empoderar pessoas dispostas a ajudar em situações de desastres naturais de uma maneira descomplicada. Ciente dessa necessidade, criamos a Connect, uma plataforma que acompanha dados meteorológicos de satélites da NASA que avisam em tempo real quando uma catástrofe está ocorrendo e onde! A população pode acompanhar estes avisos e realizar doações.</p>

    <h1>Transparência</h1>
    <p>É parte da filosofia do Connect prestar contas à sociedade de seu trabalho, com informações sobre a receita e despesas e listas e relatórios de atividades.</p>
</div>
<footer>
        Seja você também um apoiador!
        <ul id="sponsors">
            <li><img src="../../static/hhands/images/picpay.png" alt=""></li>
            <li><img src="../../static/hhands/images/kpmg.png" alt=""></li>
            <li><img src="../../static/hhands/images/johnson-and-johnson.png" alt=""></li>
        </ul>
    </footer>
</main>