{% extends 'hhands/base.html' %}

{% block body %}
    <div id='map' style="width: 80%; height: 640px; position: right"></div>
{% endblock body %}

{% block extra_js %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRyaWFud3IiLCJhIjoiY2sxeHdhamxkMGM2MDNub2lscGQyNHo2bSJ9.7FvJIEav3cZQbB2XwoAIVw';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
    });
    </script>
{% endblock extra_js %}


